@use  "reset/mixins";
@use "reset/reset";
@use "reset/keyframes";


body{
    position: relative;    
    overflow-x: hidden;
    transition: .4s ease;
    -webkit-font-smoothing: antialiased;
    cursor: none;
    @media screen and (max-width:960px) {
        cursor: default;
    }
}
.change__colorbg{
    background-color: var(--colorSECUNDARIO-BLACK);
}


.cursor{
    position: fixed;
    background-image: url(../assets/diamon__cursorv2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 3em;
    min-height: 3em;
    transition: all .4s ease;    
    transition-property: transition;
    z-index:14;
    mix-blend-mode: difference;
    transition-timing-function: ease;

    
    @media screen and (max-width:960px) {
        display: none;
    }

    
}

.cursorwidthactive{
    width: 2px;
    min-height: 1.5em;
    background-image: none;
    background-color: var(--colorSECUNDARIO-WHITE);
}

.cursorhand__active{
    width: 3.5em;
    min-height: 3.5em;
    background-image: url(../assets/diamon__cursorhand.webp);
    background-size: 80% auto ;
    background-repeat: no-repeat;
    background-position: center;
    transition-property:width,min-height,  background-image,  background-repeat, background-size ;
    
}


.animation__textcont{
    width: 100%;
    height: 100vh;
    position: absolute;

}

.animation__texts{
    width:0%;
    position: fixed;
    z-index: 1;
    right: 4em;
    display: flex;
    transform: rotate(90deg);
    animation: aparecer 1.5s ease 1 1s both;
    @media screen and (max-width:1792px) {
        right: 3em;
    }
    @media screen and (max-width:1700px) {
        right: 3.5em;
    }
    @media screen and (max-width:1500px) {
        right: 3em;
    }
    @media screen and (max-width:960px) {
        right: 2.5em;
    }
    @media screen and (max-width:730px) {
        right: 2em;
    }
    @media screen and (max-width:414px) {
        right: .5em;
    }
    @media screen and (max-width:390px) {
        right: .5em;
    }
}
.animation__textsp{
    white-space: nowrap;
    font-family: 'rubik';
    font-size: clamp(1rem, 20vw,9em);
    animation:  textanimationindex 30s linear infinite;    
    

    @media screen and (max-width:1792px) {
        font-size: clamp(1rem, 20vw, 7rem);

    }

    @media screen and (max-width:1700px) {
        font-size: clamp(1rem, 20vw, 7rem);
        
    }
    @media screen and (max-width:1500px) {
        font-size: clamp(1rem, 20vw, 6rem);
        
    }
    @media screen and (max-width:960px) {
        font-size: clamp(1rem, 20vw, 5rem);

    }

    @media screen and (max-width:730px) {
        font-size: clamp(1rem, 20vw, 4rem);

    }
    @media screen and (max-width:414px) {
        font-size: clamp(1rem, 20vw, 1rem);

    }
    @media screen and (max-width:390px) {
        font-size: clamp(1rem, 20vw, 1rem);

    }
    @keyframes textanimationindex {
        0%{
            transform: translate(0%,0);
        }   
        100%{
            transform: translate(-100%,0);
        }
    }
}

.web1__text{
    color: transparent;
    -webkit-text-stroke: .0625rem var(--colorSECUNDARIO-WHITE);
}
.text__ui{
    color: var(--colorSECUNDARIO-WHITE);
    -webkit-text-stroke: 0rem ;
}
.web2__text{
    color: transparent;
    -webkit-text-stroke: .0625rem var(--colorSECUNDARIO-WHITE);
}

.animation__textcontskills{
    width: 100%;
    height: 100vh;
    
    position: absolute;
    
}
.animation__textsskills{
    width: 0%;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0em;
    left: 2em;
    transform: rotate(90deg);
    animation: aparecer 1.5s ease 1 1s both;
    text-transform: uppercase;
    @media screen and (max-width:1792px) {
        left: 1.5em;
        
    }

    @media screen and (max-width:1700px) {
        left: 2em;
        
    }
    
    @media screen and (max-width:1500px) {
        left: 1.5em;
        
    }
    
    @media screen and (max-width:960px) {
        left: 1em;
    }
    @media screen and (max-width:414px) {
        left: .5em;

    }
    @media screen and (max-width:390px) {
        left: .5em;


    }
}
.animation__texsp{
    white-space: nowrap;
    font-size: clamp(1rem, 20vw, 4em);
    font-family: 'rubik';
    animation: textAnimationSkills  30s linear infinite ;
    color: transparent;
    -webkit-text-stroke: .0625rem var(--colorSECUNDARIO-WHITE);

    @media screen and (max-width:1792px) {
        font-size: clamp(1rem, 20vw, 3em);

        
    }

    @media screen and (max-width:1700px) {
        font-size: clamp(1rem, 20vw, 4em);

    }
    @media screen and (max-width:1500px) {
        font-size: clamp(1rem, 20vw, 3em);

    }
    @media screen and (max-width:960px) {
        font-size: clamp(1rem, 20vw, 2em);

    }

    @media screen and (max-width:414px) {
        font-size: clamp(1rem, 20vw, 1em);

    }
    @media screen and (max-width:390px) {
        font-size: clamp(1rem, 20vw, 1em);

    }
    @keyframes textAnimationSkills {
        0%{
            transform: translate(0,0);
        }   
        100%{
            transform: translate(-100%,0);
        }
    }
}

.head__conteiner{
    width: 100%;
    min-height: 100vh;
    position: relative;

    .burguer__conteiner{
        width: 100%;
        min-height: 100vh;
        position: absolute;
        
        display: none;

        @media screen and (max-width:960px) {
            display:  block;
        }
    }

    .burguer__movil{
        width: 3.5em;
        min-height: 4em;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        position: fixed;
        bottom: 2.5em;
        right: 2.5em;
        background-color:var(--colorSECUNDARIO-WHITE);
        z-index: 11;
        overflow: hidden;
        animation: aparecer 1.5s ease 1 0.5s both;
        transition: all .4s .9s ease;

        
    }
    .active.burguer__movil{
        transition: all .4s  ease;
    
    }
    .burguer__up{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background-color: #000;
        transform: scale(.87);
    }
    .lines{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        @include mixins.column;
    }
    .lines__margin{
        &:not(:last-child){
            margin-bottom: .3em;
        }
    }
    .lines__uno{
        width: 2.4em;
        height: .4em;
        background-color: var(--colorSECUNDARIO-WHITE);
        border-radius: 2em;
        transition: all .4s .9s ease;

    }
    .active.lines__uno{
        width: 2em;
        transform: rotate(-45deg) ;
        transform-origin: right;    
        margin-right: .59em;
        transition: all .4s  ease;

    }

    .lines__dos{
        width: 1.8em;
        height: .4em;
        background-color: var(--colorSECUNDARIO-WHITE);
        border-radius: 2em;
        transition: all .4s .8s ease;

    }
    .active.lines__dos{
        transform: translateX(-3em);
        transition: all .4s  ease;

    }

    .lines__tres{
        width: 1em;
        height: .4em;
        background-color: var(--colorSECUNDARIO-WHITE);
        border-radius: 2em;
        transition: all .4s .8s ease;
    }
    .active.lines__tres{
        width: 2em;
        transform: rotate(45deg) ;
        transform-origin: right;
        margin-right: .59em;
        transition: all .4s  ease;
    }

}
.bg__menumovil{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.852);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 10;
    transform: translateY(100em);
    transition: all 1.5s 1.4s ease;

}

.active.bg__menumovil{
    
    transform: translateY(0em);
    transition: all 1s ease;

}
.bg__menumovilconteiner{
    width: 100%;
    min-height: 100vh;
    @include mixins.column;

}
.bg__logomenumovilul{
    position: relative;

}
.bg__logomenumovilli{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}
.bg__logomenumovilimg{
    max-width: 8em;
    width: 37%;
    padding: 2.2em 0em 0em 2.5em;
    opacity: 0;
    transform: translateY(25em);
    transition: all 1s .7s ease;

    @media  screen and (max-width:243px) {
        width: 55%;
    }
}

.active.bg__logomenumovilimg{
    opacity: 1;
    transform: translateY(0em);
    transition: all 1.5s .8s ease;


}
.menu__movilul{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.menu__movilli{

    &:not(:last-child){
        margin-bottom: 2.5em;
    }
}


.menu__movila{
    font-family: var(--rubik);
    -webkit-text-stroke: 1.2px var(--colorSECUNDARIO-WHITE);
    color:transparent;
    font-size: 2.1em;
    letter-spacing: .1em;
    opacity: 0;
    transform: translateY(10em);
    transition: all 1s .45s ease;

    @media screen and (max-width:20em) {
        font-size: 1.8em;;
    }
    @media screen and (max-width:243px) {
        font-size: 1.4em;

    }
    &::before{
        content: "";
        position: absolute;
        display: block;
        top: -.8em;
        left: 0em;
        width: 100%;
        height: 1px;
        background-color: #9c9c9c3a;

        @media screen and (max-width:243px) {
            top: -0.5rem;
    
        }
    }
}
.active.menu__movila{
    opacity: 1;
    transform: translateY(0em);
    transition: all 1.5s .8s ease;


}

.menumovil__icons{
    width: 80%;
    display: flex;
}
.menumovil__iconsli{
    padding: 3em 0em 0em 0em;

    &:not(:last-child){
        margin-right: 1em;
    }

}
.menumovil__iconsa{
    opacity: 0;
    transform: translateY(10em);
    transition: all 1s ease;

}
.active.menumovil__iconsa{
    opacity: 1;
    transform: translateY(0em);
    transition: all 1.5s 1s ease;

}


.head__size{
    width: 100%;

}
.header{
    width: 100%;
    @include mixins.center; 
    position: relative;
    z-index: 5;
    
    .header__nav{
        width: 80%;
        animation: transalteY 1.5s ease 1 both;
        padding: 3em 0em 0em 0em;

        @include mixins.between;

        @media screen and (max-width:960px) {
            width: 100%;
            min-height: 8em;
            padding: 0em 0em 0em 0em;

        }

        
        @keyframes transalteY  {
            from{
                transform: translateY(-100em);
            }
            to{
                transform: translateY(0em);
            }
        }
        
    }
    .header__cont{
        position: relative;
        @media screen and (max-width:960px) {
            position: absolute;
            top: 2.5em;
            left: 2.5em;
        }

        
    }
    
        .header__li{
            width: 140%;
            
            @media screen and (max-width:960px) {
                width: 100%;
                @include mixins.center;
                
            }
            @media screen and (max-width:380px) {
                width: 100%;
            }
            .header__a{
                width: 100%;
                position: relative;
                z-index: 1;
                
            }
            
            .header__imglogo{
                width: 100%;

                @media screen and (max-width:960px) {
                    width: 100%;
                }
            }
            
        }



    .menu__nav{
        @media screen and (max-width:960px) {
            display: none;
        }
    }
    .menu__ul{
        @include mixins.center;
        

        .menu__li{
            background-color: transparent;
            padding: 1em;
            font-family: 'rubik-bold';
            font-size: clamp(1rem, 20vw,1.5rem);
            position: relative;
            transition: all .1s cubic-bezier(.3,.48,1,.49);
            color: var(--colorSECUNDARIO-WHITE);
            animation: aparecer 0.8s ease 1 .5s both;
            z-index: 7;
            
            @media screen and (max-width:1792px) {
                font-size: clamp(1rem, 20vw, 1.2rem);
            }

            &:hover{
                color: var(--colorSECUNDARIO-WHITE) ;
                
                transition: all .1s cubic-bezier(.3,.48,1,.49);
                
            }
            &:hover::after{
                
                transform: scale(1);
                transition: all .2s cubic-bezier(.3,.48,1,.49);
            }
            .menu__a{
                position: relative;
                z-index: 1;
                cursor: none;

                &::after{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: var(--colorSECUNDARIO-WHITE);
                    bottom: -.4em;
                    transform: scale(0);
                    transform-origin: right;
                    transition: transform .5s ease;
                    
                }
    
                &:hover::after{
                    transform: scale(1);
                    transform-origin: left;
                }
                
                
            }
        }

        .active.menu__a::after{
            transform: scale(1);
            transition: all .2s cubic-bezier(.3,.48,1,.49);
        }
        .menu__li:not(:last-child){
            margin-right: 2em;
        }

    }
    

}


.info__cont{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    @media screen and (max-width:960px) {
        position: relative;
        
    }
}

.info__conteiner{
    width: 100%;
    min-height: 100vh;
    @include mixins.center;

    @media screen and (max-width:960px) {
        min-height: 0vh;
    }
}

.back__groundcont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -2;
    transform: scale(.8);
    top: 0;
    

    
    @media screen and (max-width:1800px){
        transform: scale(.6);
    }
    
    @media screen and (max-width:60rem){
        transform: scale(.4);
    }

    @media screen and (max-width:32.5rem){
        transform: scale(.4);
    }
    .desenfoque{
        transition: all .5s ease;
        position: absolute;
    }

    
    .circle__yellow{
        width: 25em;
        height:25em;
        background-color:var(--colorPRIMARIOG-YELLOW);
        border-radius: 50%;
        filter: blur(10em);
        animation-name: amarillo;
        transform-origin: center;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: background-color .5s ease;
    }

    .circle__purple{
        width: 20em;
        height:20em;
        background-color:var(--colorPRIMARIOG-YELLOW) ;
        border-radius: 50%;
        filter: blur(7em);
        z-index: 1;
        transform-origin: top center;
        animation-name: morado;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: background-color .5s ease;

    }

    .circle__blanco{
        width: 20em;
        height:20em;
        background-color: var(--colorSECUNDARIO-WHITE);
        border-radius: 50%;
        filter: blur(10em);
        animation-name: centro;
        transform-origin: center top;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: background-color .5s ease;

    }
    .circle__turquesa{
        width: 30em;
        height:30em;
        background-color: var(--colorSECUNDARIO-TURQUESA);
        border-radius: 50%;
        filter: blur(10em);
        transform-origin: center;
        animation-name: turquesa;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: background-color .5s ease;

    }
    .circle__skin{
        width: 20em;
        height:20em;
        background-color: var(--colorPRIMARIO-LIGHBLUE);
        border-radius: 50%;
        filter: blur(10em);
        transform-origin:  center top;
        animation-name: blanco;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: background-color 5s ease;

    }
    .back__changecolor{
        background-color: var(--colorPRIMARIOG-YELLOW);
    }
    .color__createtogether{
        background-color: var(--colorPRIMARIOG-YELLOW);
        animation-duration: 8s;
        position: absolute;
        transition: background-color .5s ease;
        
    }
    .active.color__createtogether{
        background-color: var(--colorSECUNDARIO-WHITE);
    }
    .desenfoque.turquesa {
        background-color: var(--colorPRIMARIOG-YELLOW);

    }
}
.back__groundcontremoveclass{
    position: absolute;
    z-index: -1;
    transform: scale(1.3);
    opacity: .5;

    @media screen and (max-width:60rem) {
        transform: scale(.9);

    }
    @media screen and (max-width:32.5rem) {
        transform: scale(.8);


    }
}

.info__all{
    width: 80%;
    height: 100%;
    border: 3px solid transparent;
    animation: aparecer 1.5s ease 1 1s both;
    @include mixins.between;
    position: relative;
    z-index: 1;
    
    @media screen and (max-width:960px) {
        width: 100%;
        @include mixins.column;
    
    }
    
    .infocont__h2{
        @media screen and (max-width:960px) {
            width: 80%;
        }
    }
    .info__h1{
        line-height: .9;
        @include mixins.column2;
        padding: 0em 0em 0em 0em;
        

        @media screen and (max-width:960px) {
            padding: 0em 0em 0em 0em;
        }

        
    }
    

    .info__gino{
        color: var(--colorSECUNDARIO-WHITE);
        font-size: clamp(3.5rem,20vw,10rem);
        font-family: "rubik";
        @media screen and (max-width:1792px) {
            font-size: clamp(3.5rem,20vw,8rem);

        }
        @media screen and (max-width:1470px) {
            font-size: clamp(3.5rem,20vw,7rem);

        }

        @media screen and (max-width:1235px) {
            font-size: clamp(3.5rem,20vw,6rem);

        }

        @media screen and (max-width:1100px) {
            font-size: clamp(3.5rem,20vw,5rem);

        }

        @media screen and (max-width:960px) {
            font-size: clamp(3.5rem,20vw,10rem);

        }

        @media screen and (max-width:760px) {
            font-size: clamp(3.5rem,20vw,9rem);

        }
        
    }

    .info__levano{
        font-size: clamp(3.5rem,20vw,10rem);
        font-family: "rubik";
        -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
        color: transparent;

        @media screen and (max-width:1792px) {
            font-size: clamp(3.5rem,20vw,8rem);

        }

        @media screen and (max-width:1470px) {
            font-size: clamp(3.5rem,20vw,7rem);

        }

        @media screen and (max-width:1235px) {
            font-size: clamp(3.5rem,20vw, 6rem);

        }

        @media screen and (max-width:1100px) {
            font-size: clamp(3.5rem,20vw,5rem);

        }
        @media screen and (max-width:960px) {
            font-size: clamp(3.5rem,20vw,10rem);

        }
        @media screen and (max-width:760px) {
            font-size: clamp(3.5rem,20vw,9rem);

        }



    }
    .info__front{
        font-size: clamp(1rem, 20vw, 1.8rem);
        font-family: 'rubik-semibold';
        line-height: 1.4;
        color: var(--colorSECUNDARIO-WHITE);
        padding: 0.5em 0em 0em 0em;
        @media screen and (max-width:1792px) {
            font-size: clamp(1rem, 20vw, 1.5rem);

        }
        @media screen and (max-width:1470px) {
            font-size: clamp(1rem, 20vw, 1.4rem);

        }

        @media screen and (max-width:1235px) {
            font-size: clamp(1rem, 20vw, 1.2rem);

        }

        @media screen and (max-width:1100px) {
            font-size: clamp(1rem, 20vw, 1rem);

        }

        @media screen and (max-width:960px) {
            font-size: clamp(1rem, 20vw, 1.8rem);

        }
        @media screen and (max-width:760px) {
            font-size: clamp(1rem, 20vw, 1.6rem);

        }
        @media screen and (max-width:660px) {
            font-size: clamp(1rem, 20vw, 1.4rem);

        }

        @media screen and (max-width:360px) {
            font-size: clamp(1rem, 20vw, 1.2rem);

        }

    }

}
.info__imgcont{
    width: 50%;
    
    @include mixins.center;
    z-index:4;
    position: absolute;
    right: 0;
    
    @media screen and (max-width:960px) {
        position: relative;
        width: 100%;
        margin-top: 4em;
    }

    .info__img{
        max-width: 30vw;
        margin-top: 0em;

        @media screen and (max-width:1595px) {
            max-width: 30vw;
        }

        @media screen and (max-width:960px) {
            max-width: 50vw;
    
        }

        @media screen and (max-width:860px) {
            max-width: 90vw;
    
        }
    }


    
}

.cookies__cont{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    
    .cookies__all{    
        width: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 11;
        opacity: 1;
        transition: all 1.5s ease;


        @media screen and (max-width:500px) {
            bottom: 0;
            right: 0;
            
            z-index: 11;
            @include mixins.center;

            @media screen  and (max-width:380px) {
                bottom: 0;
                right: 0;
                
                z-index: 11;
                @include mixins.center
            }

        }

        .cookies__inf{
            animation: aparecer__cookies 1.5s ease 1  both;
            background: #000000b3;
            backdrop-filter: blur(2em);
            padding: 2.5em 0em 2.5em 0em;
            position: relative;
            @media screen and (max-width:1235px) {
                padding: 2em 0em 2em 0em;
                
        
            }

            @media screen and (max-width:500px) {
                padding: 3em 2em 3em 2em;


                @media screen and(max-width:380px) {
                    
                    padding: 3em 2em 3em 2em;
                }
            }
        }

        .close__cont{
            position: absolute;
            width: 4em;
            min-height: 4em;
            top: 0;
            right: 0;
            
            border-radius: 50px;
            cursor: none;
            margin-top: 1em;
            margin-right: 1.6em;
            @media screen and (max-width:960px) {
                cursor: pointer;
                
            }

            @media screen and (max-width:480px) {
                cursor: none;
                margin-top: 0em;
                margin-right: .5em;
            }
            .close__all{
                width: 100%;
                height: 4em;               
                position: relative;
            }

            .close__linescont{
                
                &::before{
                    content: "";
                    position: absolute;
                    top: 1em;
                    left: 1.64em;
                    width: 40%;
                    height: 4px;
                    background-color: var(--colorSECUNDARIO-WHITE);
                    transform-origin:left;
                    transform: rotate(45deg);
                    transition: all .4s ease;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 1em;
                    right: 1.22em;
                    width: 40%;
                    height: 4px;
                    background-color: var(--colorSECUNDARIO-WHITE);
                    transform-origin:right;
                    transform: rotate(-45deg);
                    transition: all .4s ease;
                }
            }
        }
        
        
        .close__margin:not(:last-child){
            margin-bottom: .5em;
        }
        .cookies__title{
            font-family: var(--rubik);
            color: transparent;
            -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
            text-align: center;
            font-weight: 800;
            font-size: clamp(2rem, 20vw, 1.6rem);
            margin-bottom: .9em;
            

            
        }
        .text__cont{
            font-family: 'aileron';
            margin-bottom: 2em;
            font-size: clamp(1.1rem,100vw,1rem);
            color: var(--colorSECUNDARIO-WHITE);
            line-height: 1.4;
            text-align: center;

            @media screen and (max-width:1500px) {
                font-size: clamp(.4rem, 20vw, 1.4rem);
        
            }
            @media screen and(max-width:500px) {
                font-size: clamp(1rem, 20vw, 1.4rem);
                text-align: center;
            }

            @media screen and(max-width:480px) {
                font-size: clamp(1rem, 20vw, 1.1rem);

            }
            
        }
        .btns__cont{
            width: 100%;
            margin-top: 1em;
            @include mixins.center;

            .btn{
                position: relative;
                padding: 1.5em 2em 1.5em 2em;
                font-family: var(--rubik);
                cursor: none;
                font-size: 1em;                
                border: 3px solid transparent;
                clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                background-color: var(--colorSECUNDARIO-WHITE);


                @media screen and (max-width:1792px) {
                    padding: .8em 1.2em .8em 1.2em;

            
                }

                &:not(:first-child){
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                        background-color: var(--colorSECUNDARIO-WHITE);
                        
                    }
                }

                @media screen and (max-width:960px) {

                }
                @media screen and (max-width:529) {
                    padding: 1em .5em 1em .5em;

                }
                @media screen and (max-width:480px) {
                    padding: 1.2em 1em 1.2em 1em;
                    
                }
                &:not(:last-child){
                    margin-right: 2em;

                    @media screen and(max-width:243px) {
                        margin-right:.5em;
                    }
                }

                

            }
            .btn__manage{
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                    background-color: #000;
                    
                }
                
                
            }
            .btn__accept{

                color:#000

                
            }
        }
    }
    
}
.active.cookies__all{
    opacity: 0 .5s;
    transform: translateY(100em);
}
.cookies__close{
    display: block;
    transition: display 1.5s ease;

}
.activo.cookies__close{

    display: none;
}
    
.lastwork{
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-color: transparent;
    
    
}
.laswork__font{
    font-family: var(--rubik);
    -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
    color: transparent;
    font-size: var(--SizeTitles);
    font-weight: inherit;
    background-color: transparent;
    text-transform: uppercase;
    transform:translateY(5em);
    opacity: 0;
    padding: 0em 0em 1.2em 0em;
    transition: all 1s ease;

    @media screen and (max-width:1792px) {
        font-size: clamp(3rem,20vw,4rem);
        padding: 0em 0em 1em 0em;
        
    }
    @media screen and (max-width:1100px) {
        font-size: clamp(3rem,20vw,3rem);
    }
    
    @media screen and(max-width:960px) {
        @include mixins.column;
        font-size: clamp(3rem,20vw,2rem);
    
        padding: 2em 0em 2em 0em;
        :not(:last-child){
            padding: 0em 0em 1.2em 0em;
            transform: translateX(-.2em);
        }
        :not(:first-child){
            transform: translateX(0em);
            -webkit-text-stroke: 0px var(--colorSECUNDARIO-WHITE);
            color: var(--colorSECUNDARIO-WHITE);
        }
    }

}

.laswork__font.active {
    opacity: 1;
    transform:translateY(0em);

}


.hexagon{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    @include mixins.column;

}
.hexagon__ul{
    width: 100%;
    
    @include mixins.center;
    gap: 2rem;
    @media screen and (max-width:1300px) {
        width: 100%;
    }
}

.hexagon__li{
    width: 20em;
    height: 20em;
    background-color: var(--colorSECUNDARIO-WHITE);

    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: translateY(5em);
    opacity: 0;

    transition: all 1s  ease;
    @media screen and (max-width:1792px) {
        width: 18em;
        height: 18em;

    }
    @media screen and (max-width:1500px) {
        width: 16em;
        height: 16em;
    }
    @media screen and (max-width:60em) {
        width: 17em;
        height: 17em;
    }

    @media screen and (max-width:243px) {
        width: 14em;
        height: 14em;
    }

    .hexagon__uno{
    width: 100%;
    height: 100%;
    background-color: #1b1c1e;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: scale(.94);
    opacity: 1;
    position: relative;
    }

    .hexagon__dos{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: scale(.92);

    }


}

.active.hexagon__li{
    transform: translateY(0);
    opacity: 1;

}

.hexagon__li:hover .hexagon__up {
    opacity:.8;
}

.hexagon__li:hover .hexagon__p {
    transform: translateY(0em);
    opacity: 1;
}
.hexagon__a{
    width: 100%;
    min-height: 100%;
    @include mixins.center;
}
.hexagon__cont{
    
    width: 100%;
    height: 100%;
    background-image: url(../assets/tip.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.hexagon__cont2{
    width: 100%;
    height: 100%;
    background-image: url(../assets/portfolio.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.hexagon__up{
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all .5s ease;
}
.hexagon__info{
    width: 100%;
    height: 100%;
    @include mixins.center;
}
.hexagon__p{
    width: 100%;
    min-height: 100%;
    @include mixins.center;
    font-family: "rubik";
    font-size: 1.8rem;
    color: var(--colorSECUNDARIO-WHITE);
    transform: translateY(-3em);
    opacity: 0;
    transition:  all .5s ease;

}


.about__mecont{
    background: transparent;
    position: relative;
    z-index: 0;
    width: 100%;
    @include mixins.column;
    overflow: hidden;
    padding: 4em 0em 0em 0em;

    .about__meh2{
        font-size: var(--SizeTitles);
        padding: var(--Paddingtitles);
        font-family: var(--rubik);
        -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
        color: transparent;
        font-weight: var(--FontWeightTitles);
        transform: translateY(0em);
        transition: all .4s ease;
        opacity: 1;
        line-height: .4em;
        text-transform: uppercase;
        @media screen and (max-width:1792px) {
            font-size: clamp(3rem,20vw,4rem);

            padding: 0em 0em 1em 0em;
        }
    
        @media screen and (max-width:1100px) {
            font-size: clamp(3rem,20vw,3rem);
    
        }

        @media screen and (max-width:960px) {
            font-size: 3em;
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: end;
            padding: 0em 0em 1.5em 0em;

            :not(:last-child){
            color: var(--colorSECUNDARIO-WHITE);
            -webkit-text-stroke: 0px ;
            padding: 0em 0em 1.2em 0em;
            }
            
        }
        @media screen  and (max-width:243px) {
            font-size: 1.5rem;
        }
    }
    .about__mep{
        width: 40%;
        font-size: clamp(1.5rem , 20vw, 1.5rem);
        line-height: 1.4;
        transform: translateX(0em);
        transition: all .4s .1s ease;
        opacity: 1;
        font-family: 'aileron';
        color: var(--colorText);
        
        @media screen and (max-width:1720px) {
            font-size: clamp(1.2rem, 20vw, .2rem);
            
        }

        
        @media screen and (max-width:960px) {
            width: 90%;
            font-size: clamp(1.5rem, 20vw, 1.5rem);
            
        }
        

        &:not(:last-child){
            margin-bottom: 1em;
            @media screen and (max-width:1300px) {
                margin-bottom: .8em;

    
    
                
            }
        }
    }
    .photo__cont{
        width: 100%;
        height: 30vw;
        min-height: 30vw;
        @include mixins.center;
        background-image: url(../assets/9.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 72%;
        filter: grayscale(60%);
        margin-top: 4em;

        @media screen and (max-width:960px) {
            display: none;
            background-image: url(../assets/9.JPG);
        }
        
    }

    .photo__movilcont{
        width: 100%;
        min-height: 90vw;
        display: none;
        background-image: url(../assets/1.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;
        filter: grayscale(50%);

        @media screen and (max-width:960px) {
            display: block;
            width: 90%;
            margin-top: 3em;
        }
    }

    .active.about__meh2{
        opacity: 1;
        transform: translateY(0em);
    }
    .active.about__mep{
        opacity: 1;
        transform: translateX(0em);
    }

}
.skills__contenidor{
    width: 100%;
    min-height: 100vh;
    @include mixins.center;
    margin-top: 4em;
    background: var(--colorPRIMARIOG-BLACK);
    
}
.skills__conteiner{
    width: 80%;
    position: relative;
    z-index: 1;
    background: var(--colorPRIMARIOG-BLACK);
    
    
    @media screen and (max-width:960px) {
        width: 90%;
    }
}

.skills__font{
    width: 100%;  
    padding: 8em 0em 8em 0em;

    @media screen and (max-width:960px) {

        padding: 0em 0em 0em 0em;
    }
}



.skills__conteinerskill{
    width: 100%;
    @include mixins.column;

}
.skill__contsite{
    width: 100%;
    @media screen and (max-width:960px) {
        @include mixins.center;


    }
        &:not(:first-child){
        display: flex;
        justify-content: flex-end;
        margin-top: 7em;
        margin-bottom: 6em;
    }
}



.skills__gdleft{
    width: 100%;
    @media screen and (max-width:960px) {
        width: 100%;
        
    }
}
.skills__webdevelopment{

    .skills__h3web{        
        font-size: clamp(3em, 20vw,4em);
        font-family: 'rubik';
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
        
        @media screen and (max-width:1792px) {
            font-size: clamp(3em, 20vw,2.5em);

        }
        @media screen and (max-width:960px) {
            font-size: clamp(3em, 20vw,3em);
        }
        
    }
}
.skills__ulweb{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(9em,1fr));
    column-gap: 1.5em;
    row-gap: 1.5em;
    margin-top: 6em;
    @media screen and (max-width:1792px) {
        grid-template-columns:repeat(auto-fit,minmax(5em,1fr));
        column-gap: 1em;
        row-gap: 2em;
        margin-top: 4em;
    }

    .skills__liweb{
        width: 100%;
        
        
    }
}




.slide__fotter{    
    width: 100%;
    padding: 5em 0em 5em 0em;
    position: relative;
    
    .footer{
    
    @include mixins.between  ;
    @include mixins.column;
    
    &__logo{
        width: 3%;
        margin-bottom: 2em;
        display: none;
        @media screen and (max-width:500px) {
            width: 40%;
            margin-bottom: 3em;
        }
    }
    }

    .footer__ul{
        margin-bottom: 2em;
        @include mixins.center;
        
        .footer__li:not(:last-child){
            margin-right: 1em;
        }
    }
    
    .footer__li{
        opacity: 0;
        transform: translateY(5em);
        transition: all 1s ease;

        @media screen and (min-width:960px) {
            &:hover{
                transition: all .5s ease;
    
                filter: drop-shadow(0 0 15px var(--colorSECUNDARIO-WHITE));
            }
        }

        
    }
    .active.footer__li{
        opacity: 1;
        transform: translateY(0em);
        

    }
    .footer__a{
        width: 100%;
        
        
    }
}
.footer__me{
    width: 100%;
    font-family: 'aileron';
    text-align: center;
    letter-spacing: .2em;
    color: #a8a8a6;
    opacity: 0;
    transform: translateY(5em);
    transition: all 1s ease;

    @media screen and (max-width:380px) {
        font-size: .8rem;
        letter-spacing: .1em;
    }
}
.active.footer__me{
    opacity: 1;
    transform: translateY(0em);

}


//TIP HEAD //

.header__navtip{
    width: 100%;
    @include mixins.center;
}
.header__ultip{
    width: 80%;
    @include mixins.end;
    padding: 4em 0em 4em 0em;
    
    @media screen  and (max-width:960px) {
        
        width: 90%;
    }

    .header__litip{
        position: fixed;
        z-index: 2;
        
    }


    .header__atip{
        font-size: 1em;
        font-family: var(--rubik);
        text-transform: uppercase;
        color: var(--colorSECUNDARIO-WHITE);
        cursor: none;

        &::after{
            content: "";
            position: absolute;
            bottom: -.2em;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--colorSECUNDARIO-WHITE);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s ease;
        }

        @media screen and (min-width:960px) {
            &:hover::after{
                transform: scaleX(1);
                transform-origin: left;
    
            }
        }

        .header__icontip{
            width: 0.69em;
        }

        @media screen and (max-width:23.75em) {
            font-size: 1.2em;

        }
    }
}

.border__r1{
    padding: 1em 0em 0em 0em;
    @media screen and (max-width:380px) {
        padding: .5em 0em 0em 0em;
        
    }
}

.border__r2{

    padding: 1em 2em 1em 2em;
    border-radius: 12px;

    @media screen and (max-width:380px) {
        padding: .8em 1.5em .8em 1.5em;
    }
}
.margin{
    margin-right: .8em;

}
.margin2{
    margin-left: .8em;

}
.img__headerproyecto{
    width: 100%;
    min-height: 40vh;
    
    background-image: url(../assets/bgPortfolio.webp);
    background-size:  cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    
}

.img__headertip{
    width: 100%;
    min-height: 40vh;
    background-image: url(../assets/parallaxtips.png);
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;

    @media screen and (max-width:960px) {
        background-attachment: unset;

    }
}

.cont__imgtip{
    width: 100%;
    min-height: 40vh;
    @include mixins.center;
    margin-top: 3em;
}
.img__headerimgtip{
    width: 10em;

}
.section__alltip{
    width: 100%;
    min-height: 100%;
    position: relative;
    @include mixins.center;


    @media screen and (max-width:960px) {
        margin-top: 5em;
    }
    .btn__visit{
        position: fixed;
        bottom: 2em;
        z-index: 2;
        

        .btn__visitspan{
            font-family: 'rubik';
            padding: 2em 2em 2em 2em;
            background-color: var(--colorSECUNDARIO-WHITE);
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            color: var(--colorPRIMARIOG-BLACK);
            @media screen and (max-width:1792px) {
                padding: 1.5em 1.5em 1.5em 1.5em;
            }
        }
    }
}
.section__conttip{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--colorPRIMARIOG-BLACK);
    
}

.section__bgposition{
    
    position: absolute;

    z-index: 1;
    transform: scale(1.3);
    opacity: .5;

    @media screen and (max-width:60rem) {
        transform: scale(1);

    }
    @media screen and (max-width:32.5rem) {
        transform: scale(.4);

    }
}
.section__bgpositionproyect{
    position: absolute;
    top: 0;
    z-index: 1;
    transform: scale(1.3);
    opacity: .5;

    @media screen and (max-width:60rem) {
        transform: scale(1);

    }
    @media screen and (max-width:32.5rem) {
        transform: scale(.9);

    }
}
.section__tip{
    width: 100%;
    
    @include mixins.center;
    
}
.section__contenido{
    width: 80%;
    
    @include mixins.column;
    
    padding: 12em 0em 12em 0em;
    @media screen and (max-width:960px) {
        width: 90%;
        padding: 6em 0em 6em 0em;
        @include mixins.column;
    }
}
.contenido__proyectinf{
    width: 100%;
}

.section__h2info{
    font-family: var(--rubik);
    font-size: clamp(3em, 20vw,4em);
    -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
    color: transparent;
    margin-bottom: 1em;
    display: block;
    @media screen and (max-width:1792px) {
        font-size: clamp(3em, 20vw,2.5em);


    }
    @media screen and (max-width:960px) {
        font-size: clamp(3em, 20vw,3em);
    }
}

.section__ptitleconstruction{
    font-family: "aileron-bold";
    color: var(--colorText);
    font-size: clamp(1.5rem , 20vw, 1.5rem);

    @media screen and (max-width:1788px) {
        font-size: clamp(1.2rem, 20vw, 1rem);
        
    }
    @media screen and (max-width:1140px) {
        font-size: clamp(1rem, 20vw, 1rem);
        
    }
}


.section__ptitle{
    font-family: 'aileron';
    font-size: clamp(1.5rem , 20vw, 1.5rem);
    color: var(--colorText);
    line-height: 1.4;

    &:not(:last-child){
        margin-bottom: .5em;
    }
    @media screen and (max-width:1788px) {
        font-size: clamp(1.2rem, 20vw, 1rem);
        
    }
    @media screen and (max-width:1140px) {
        font-size: clamp(1rem, 20vw, 1rem);
        
    }
    
}
.content__infoproyect{
    width: 100%;
    margin-top: 2.5em;
}
.section__client{
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .section__spanclient{
        margin-bottom: 1em;
    }
    .section__h3client{
        font-family: var(--rubik);
        font-size: clamp(1.1rem,20vw,1.4rem);
        position: relative;
        color: var(--colorSECUNDARIO-WHITE);
        @media screen and (max-width:1788px) {
            font-size: clamp(1rem,20vw,1rem);
            
        }
        @media screen and (max-width:1140px) {
            font-size: clamp(.8rem, 20vw, .8rem);
        }
        @media screen and (max-width:960px) {
            font-size: clamp(1.1rem,20vw,1.1rem);

        }

        &::before{
            content: "";
            position: absolute;
            bottom: -0.1em;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--colorSECUNDARIO-WHITE);
        }
    }
}

.section__ptipclient{
    
    font-family: 'aileron';
    font-size: clamp(1.5rem , 20vw, 1.5rem);

    color: var(--colorText);
    line-height: 1.4;
    
    @media screen and (max-width:1788px) {
        font-size: clamp(1.2rem, 20vw, 1rem);
        
    }
    @media screen and (max-width:1140px) {
        font-size: clamp(1rem, 20vw, 1rem);
        
    }
}

.section__ultip{
    width: 100%;
    position: relative;
    z-index: 1;
    display: grid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 2em;
    @media screen and (max-width:960px) {
        margin-top: 0em;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}


.section__litip{
    :not(:first-child){
        margin-right: 5em;
    }
    @media screen and (max-width:960px) {
        margin-top: 1.5em;
    }
}

.section__span{
    margin-bottom: 1em;
    
    .section__h3tip{
        font-family: var(--rubik);
        font-size: clamp(1.1rem,20vw,1.4rem);
        position: relative;

        @media screen and (max-width:1788px) {
            font-size: clamp(1rem,20vw,1rem);
            
        }
        @media screen and (max-width:1140px) {
            font-size: clamp(.8rem, 20vw, .8rem);
            
        }
        
        @media screen and (max-width:960px) {
            font-size: clamp(1.1rem,20vw,1.1rem);

        }

        &::before{
            content: "";
            position: absolute;
            bottom: -0.1em;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--colorSECUNDARIO-WHITE);
        }
    }
    
}

.section__ptip{
    font-family: 'aileron';
    font-size: clamp(1.5rem , 20vw, 1.5rem);
    color: var(--colorText);
    line-height: 1.4;
    margin-top: .4em;
    

    @media screen and (max-width:1788px) {
        font-size: clamp(1.2rem, 20vw, 1rem);
        
    }
    @media screen and (max-width:1140px) {
        font-size: clamp(1rem, 20vw, 1rem);
        
    }
    
}


.title__conteiner{
    width: 100%;
    padding: 10em 0em 8em 0em;
    overflow: hidden;
    @include mixins.center;

    
    @media screen and (max-width:1792px) {
        padding: 8em 0em 0em 0em;


    }

    @media screen and (max-width:960px) {
        padding: 2em 0em 1em 0em;
    }
}
.tittle__project{
    font-family: var(--rubik);
    -webkit-text-stroke: 2px var(--colorSECUNDARIO-WHITE);
    color: transparent;
    font-size: var(--SizeTitles);
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    opacity: 0;
    transform: translateY(5em);
    transition: all 1s ease;


    &.active{
        opacity: 1;
        transform: translateY(0em);

    }

    @media screen and (max-width:1792px) {
        font-size: clamp(3rem,20vw,4rem);;
        padding: 0em 0em 1em 0em;
    }

    @media screen and (max-width:1100px) {
        font-size: clamp(3rem,20vw,3rem);;


    }

    @media screen and (max-width:960px) {
        font-size: 3em;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: end;
        padding: 2em 0em 1.5em 0em;
        

        :not(:last-child){
            
            color: var(--colorSECUNDARIO-WHITE);
            -webkit-text-stroke: 0px ;
            padding: 0em 0em 1.2em 0em;
        }
        
    }

    @media screen and (max-width:243px) {
        font-size: 1.5em;
    }

}

.screen__animation{
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(5em);
    transition: all 1s ease;


    &.active{
        opacity: 1;
        transform: translateY(0em);

    }
}
.img__conteiner{
    width: 100%;
    @include mixins.column;
}

.img__size{
    width: 100%;

    @media screen and (max-width:960px) {
        width: 90%;
    }

}

.img__1{
    margin-bottom: 5em;
    @media screen and (max-width:960px) {
        margin-bottom: 2.5em;

    }
}

.img__2{
    margin-bottom: 5em;
    @media screen and (max-width:960px) {
        margin-bottom: 2.5em;

    }
}
.img__3{
    margin-bottom: 5em;

    @media screen and (max-width:960px) {
        margin-bottom: 2.5em;

    }

}

.create__cont{
    margin-top: 4em;
    background-color:var(--colorPRIMARIOG-YELLOW);
    padding: 10em 0em 10em 0em;
    @include mixins.center;
    opacity: 0;
    transform: translateY(5em);
    transition: all .5s ease;

    &.active{
        opacity: 1;
        transform: translateY(0em);
    }
    

    @media screen and (max-width:460px) {
        padding: 3em 0em 6em 0em;

    }
}
.create__togethercont{
    width: 80%;
    @media screen and (max-width:960px) {
        width: 90%;
    }

.create__togetherfirsth1{
    font-family: 'rubik';
    font-size: clamp(2.2em , 20vw, 3.2em);
    line-height: 1.4;

    color: var(--colorSECUNDARIO-BLACK);
    margin-bottom: 2rem;

    @media screen  and (max-width:1792px){
        font-size: clamp(2.2em , 20vw, 2.5em);
    }


    @media screen  and (max-width:1100px){
        font-size: clamp(2.2em , 20vw, 2.5em);
    }

    @media screen  and (max-width:960px){
        font-size: clamp(2.2em , 20vw, 3em);
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }

    @media screen  and (max-width:378px){
        font-size: clamp(2.2em , 20vw, 2em);

        
    }
}

.create__parrafo{
    width: 100%;
    height: 100%;
    display: flex;
    @media screen and (max-width:960px) {
        display: flex;
        flex-direction: column;
    }

}
.create__togethersecondp{

    font-family: 'aileron-bold';
    font-size: clamp(1.2em, 20vw, 1.8em);
    color: var(--colorSECUNDARIO-BLACK);
    

    @media screen  and (max-width:1792px){
        font-size: clamp(1.2em, 20vw, 1.5em);
    }

    @media screen  and (max-width:1229px){
        font-size: clamp(1.2em, 20vw, 1em);
    }

    @media screen  and (max-width:1100px){
        font-size: clamp(1.2em, 20vw, 1.4em);
    }
    @media screen  and (max-width:960px){
        font-size: clamp(1.2em, 20vw, 1.5em);

    }

}

.create__email{
    @media screen  and (max-width:960px){
        margin-top: .6em;
    }
}
.create__togetherseconda{
    position: absolute;
    font-family: 'aileron-bold';
    font-size: clamp(1.2em, 20vw, 1.8em);

    
    color: var(--colorSECUNDARIO-BLACK);

    @media screen  and (max-width:1792px){
        font-size: clamp(1.2em, 20vw, 1.5em);
    }
    @media screen  and (max-width:1229px){
        font-size: clamp(1.2em, 20vw, 1em);
    }

    @media screen  and (max-width:1100px){
        font-size: clamp(1.2em, 20vw, 1.4em);
    }
    @media screen  and (max-width:960px){
        font-size: clamp(1.2em, 20vw, 1.5em);

    }

    
    &::before{
        content: "";
        position: absolute;
        bottom: -.2em;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #131313;
        transform-origin: left;
        transition: transform .5s ease;
        -webkit-transition:transform .5s ease ;

    }
    
    @media screen and (min-width:960px) {
        &:hover::before{
            transform: scaleX(0);
            transform-origin: right;
    
            
        }
    }
}
}

